:root {
    --primary-color: #ffffff;
    --secondary-color: #010101;
    --tertiary-color: #043576;
}

::selection {
    background: var(--secondary-color);
    color: var(--primary-color);
}

body {
    background: var(--primary-color);
    color: var(--secondary-color);
    font-family: 'League Spartan', sans-serif;
    overflow-x: hidden;
    max-width: 100%;
}

ul {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
}

h4 {
    font-size: 1.25rem;
    font-weight: 400;
}

h6 {
    font-size: 1rem;
    font-weight: 400;
}

.mr-2 {
    margin-right: 0.5rem;
}

i {
    color: var(--secondary-color);
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.2rem;
    }
}

p {
    font-size: 1rem;
    font-weight: 400;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 400 !important;
}

a:hover {
    color: var(--primary-color);
}

button,
a {
    text-decoration: none !important;
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

input,
textarea {
    outline: none !important;
    box-shadow: none !important;
}

@media screen and (max-width: 991px) {
    .m-hide {
        display: none !important;
    }
}

@media screen and (min-width: 991px) {
    .p-hide {
        display: none !important;
    }

    .ppr-10 {
        padding-right: 10rem;
    }

    .ppl-10 {
        padding-left: 10rem;
    }
}

/* NavBar */
@media screen and (min-width: 991px) {
    nav {
        padding: 0 3rem;
    }
}

@media screen and (max-width: 991px) {
    .m-menu>button {
        padding: 0;
    }

    .navbar-collapse {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        background: var(--primary-color);
        padding: 1rem;
        box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.7),
            -5px 0 5px -5px rgba(0, 0, 0, 0.7);
    }

    .collapse>.p-hide {
        position: absolute;
        padding: 0;
        right: 10px;
        top: 10px;
    }

    .navbar-nav {
        margin-top: 2rem;
    }

    .navbar-collapse.collapsing {
        height: 100%;
        left: -75%;
        transition: height 0s ease;
    }

    .navbar-collapse.show {
        height: 100%;
        left: 0;
        transition: left 400ms ease-in-out;
        z-index: 2;
    }

    .navbar-toggler.collapsed~.navbar-collapse {
        transition: left 400ms ease-in;
    }
}

nav {
    padding: 15px;
    position: relative;
}

.m-menu i {
    font-size: 30px;
}

.help-icon i {
    font-size: 30px;
}

.help-details p {
    font-size: 0.8rem;
    line-height: 1.2;
    margin-left: 10px;
}

.help-details a:hover {
    text-decoration: underline !important;
}

.menu-item {
    cursor: pointer;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0;
    line-height: 1.2;
}

.nav-item {
    cursor: pointer;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 1rem;
    color: var(--secondary-color);
}

.nav-item>a {
    color: var(--secondary-color);
}

.menu-item>p:hover {
    color: var(--tertiary-color);
}

.menu {
    width: 700px;
    margin: 0 auto;
}

.menu-item>a>p {
    margin-bottom: 0;
    color: var(--secondary-color);
}

/* hero carousel */
.hero {
    position: relative;
}

.owl-text-overlay {
    margin: 0 25rem 0 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    color: var(--primary-color);
}

.owl-text-overlay h6 {
    font-weight: 700;
}

#sync2 {
    position: absolute;
    bottom: 0;
}

#sync1 .item {
    height: 90vh;
}

@media screen and (max-width: 768px) {
    #sync1 .item {
        height: 80vh;
    }
}

#sync1 .item img {
    height: 100%;
    /* max-width: none; */
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}

#sync1 .owl-item.active .item img {
    transform: scale(1.1);
    transition: transform 5s ease;
}

#sync2 .item {
    padding: 10px 0px;
    margin: 50px 100px;
    color: #acacac;
    cursor: pointer;
    z-index: 999;
}

#sync2 .item .content {
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    #sync2 .item {
        margin: 20px 10px;
    }
    .owl-text-overlay {
        margin: 0 10px;
    }
}

@media screen and (max-width: 991px) {
    #sync2 .item {
        margin: 20px 25px;
    }
    .owl-text-overlay {
        margin: 0 100px 0 25px;
    }
}

#sync2 .current .item {
    color: var(--primary-color);
}

#sync2 .current .item .progress {
    background: transparent;
    height: 0.5rem;
    position: relative;
}

#sync2 .current .item .progress::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0%;
    background-color: var(--tertiary-color);
    animation: progress-bar 5s ease-out forwards;
}

@keyframes progress-bar {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

#sync2 .item .progress {
    background: transparent;
    height: 0.5rem;
}

.owl-theme .owl-nav [class*='owl-'] {
    transition: all 0.3s ease;
}

#sync1.owl-theme {
    position: relative;
}

#sync1.owl-theme .owl-next,
#sync1.owl-theme .owl-prev {
    width: 22px;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
}

#sync1.owl-theme .owl-prev {
    left: 10px;
}

#sync1.owl-theme .owl-next {
    right: 10px;
}